# Supabase Configuration
VITE_SUPABASE_PROJECT_ID="your_project_id"
VITE_SUPABASE_PUBLISHABLE_KEY="your_supabase_publishable_key"
VITE_SUPABASE_URL="https://your_project_id.supabase.co"
# Goong Maps
VITE_GOONG_API_KEY="your_goong_api_key"
VITE_GOONG_MAPTILES_KEY="your_goong_maptiles_key"
